
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Registration Page!</title>

</head>

  <body>
    <h2>New User, Register!</h2>
<form>
  <label for="nametag">First Name:</label>
  <input id="nametag" type="First Name" name="" value="">
<br><br>
  <label for="surnametag">Last Name:</label>
  <input id="surnametag" type="Surname" name="" value="">
<br><br>
  <label for="phonetag">Phone Number:</label>
  <input id="phonetag" type="Phone" name="" value="">
<br><br>
  <label for="addresstag">Address:</label>
  <input id="addresstag" type="Address" name="" value="">
<br><br>
   <label for="citytag">City:</label>
  <input id="citytag" type="city" name="" value="">
<br><br>

<input type="submit" name="" value="Submit">
</form>
 </body>
</html>
